.die{
  display: inline-block;
  font-size: 10em;
  margin: 5%;
  position: relative;
  left: 33%;
  color: darkslateblue;
}


button{
  padding: 1.5em;
  color: white;
  width: 15em;
  background: black;
  border: none;
  border-radius: 10px;
  position: relative;
  left: 45%;
}

button:hover{
  background: darkslateblue;
  cursor: pointer;
}